
body {
	width: 100%;
	max-width: 1900px;
	margin: 0 auto;
	box-sizing: border-box;

font-family: Arial, sans-serif;
background-color: lightgrey;
padding: 0;
margin: 0;
}

.clearfix:after {
	content: '';
	display: table;
	width: : 100%;
	clear: both;
}


header {
  background: url(../bg11.jpg) no-repeat center top / cover;
  height: 700px;
  max-width: 100%;

}

.container {
 height: 70%;
 margin: 0 auto;

}

.logo {
	margin-top: 3%;
	margin-left: 5%;
	float: left;
	max-width: 100%;
}

nav {
	float: right;
	margin-right: 5%;
	margin-top: 5%;
	max-width: 100%;
}

.menu{
	padding: 0;
	margin: 0;
	display: block;
	max-width: 100%;
}
.menu li {
	float: right;
	display: block;
	margin-left: 41px;
	max-width: 100%;

} 
.menu li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
    font-size: 24px;
    max-width: 100%;
}
.tittles_first {
	font-size: 40px;
    color: #fff;
   text-transform: uppercase;
   text-align: center;
   margin-top: 100px;
   
}

h1 {
		font-size: 75px;
   color: #fff;
   text-transform: uppercase;
   text-align: center;
   margin: 15px;
   max-width: 100%;
}

.button {
	background: #3336;
	color: #fff;
	border-radius: 3px;
	display: block;
	width: 160px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 20px;
	max-width: 100%;
}

.about {
background: url(../backabout.jpg) no-repeat center / cover; 
height: 700px;
max-width: 100%;
margin: 0 auto;
}
.abouttext {
	color:#fff;
	margin: 0 auto;
	text-transform: uppercase;
	padding-top: 7%;
	font-size: 40px;
	text-align: center;

}
.aboutfull {
		color:#fff;
	margin: 0 auto;
	padding-top: 7%;
    padding-left: 5%;
    padding right: 5%;
	font-size: 16px;
	float: center;
	text-align: left;
	max-width: 100%;
}
.icon {
	float: right;
	margin-top: 100px;
	margin-right: 140px;
	margin-left: 20px;
	max-width: 100%;
}
.gallery {
	margin: 0 auto;
	float:center;
	padding-left: 2%;
padding-right: 2%;
	max-width: 100%;
}
.artsbutton {
	background: #ffcccc;
	color: #fff;
	border-radius: 3px;
	display: block;
	width: 160px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 20px;
	max-width: 100%;
        margin-bottom: 20px
}
.book {
background: url(../bookbackground.jpg) no-repeat center bottom / cover; 
height: 700px;
margin: 0 auto;
max-width: 100%;
}
.book {
	background: url(../bookbackground.jpg) no-repeat center bottom / cover; 
height: 700px;
margin: 0 auto;
max-width: 100%;
}
.textbook {
color:#fff;
	margin: 0 auto;
	text-transform: uppercase;
	padding-top: 7%;
	float: center;
	text-align: center;
	font-size: 30px;
	max-width: 100%;
}
.desc {
color:#fff;
	margin: 0 auto;
	text-align: center;
	padding-top: 7%;
	font-size: 16px;
	max-width: 100%;

}
.download {
background: #ffcccc;
	color: #fff;
	border-radius: 3px;
	display: block;
	width: 160px;
	padding: 20px 0;
	float: left;
	margin-left: 45%;
	margin-top: 5%;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	max-width: 100%;
}

footer {
background: url(../bgfooter.jpg) no-repeat center bottom / cover;
margin: 0 auto;
height: 700px;
max-width: 100%;
}
.booktext {
	color:#fff;
	margin: 0 auto;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding-top: 7%;
	max-width: 100%;
}

.email {
	
	margin: 0 auto;
	float:center;
	padding-left: 5%;
	max-width: 100%;
}
.bottomtext {
	padding-top: 3%;
	padding-left: 5%;
	color:#fff;
	font-size: 18px;
	text-align: left;
max-width: 100%;
}
.logobottom {
	padding-top: 10%;
	padding-left: 25%;
	max-width: 100%;
	}


